version: "3.9"

services:
  trainer:
    build: .
    container_name: brain_tumor_trainer
    command: python ../src/main.py
    volumes:
      - .:/app
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - PYTHONUNBUFFERED=1
    tty: true

  tensorboard:
    image: pytorch/pytorch:2.9.0-cuda12.6-cudnn8-runtime
    container_name: brain_tumor_tensorboard
    working_dir: /app
    command: tensorboard --logdir=../src/runs/brain_tumor --host=0.0.0.0 --port=6006
    ports:
      - "6006:6006"
    volumes:
      - .:/app
    depends_on:
      - trainer
